<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Header</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/footer.css'>
</head>

<body>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v4.0&appId=355821668516129&autoLogAppEvents=1"></script>
    <div class="footer_container">

        <div class="footer_content_container">
            <div>
                <div class="fb-page" data-href="https://www.facebook.com/KineGo1332/" data-width="350"
                    data-hide-cover="false" data-show-facepile="true"></div>
            </div>
            <div class="infos_contacts">
                <div id="contact_footer">Contact</div>
                <div class="infos_footer">Route d'Ohain 24A, 1332 Genval</div>
                <div class="infos_footer">02 633 43 64</div>
                <div class="infos_footer">troussel.kine@gmail.com</div>
            </div>
        </div>
    </div>
</body>

</html>