<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Kinésithérapie générale</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/kiGenerale.css'>
    <link rel="shortcut icon" type="image/png" href="img/kinangoLogo.png" />
</head>

<body>
    <div class="global_container">
        <div class="left_container">
            <div class="image_logo">
                <img src="img/bigrose.png" id="kinandgoLogo">
            </div>
            <div class="contacts">
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    <div>Frederic Metten</div>
                    <div class="phone">0473/41.12.15</div>
                </div>
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    <div>Marie Tombal</div>
                    <div class="phone">0476/97.37.63</div>
                </div>
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    <div>Troussel Jean-Nicolas</div>
                    <div class="phone">0472/60.16.31</div>
                </div>
            </div>
            <div class="socials_container">
                <div class="social_1">
                    <a href="https://www.facebook.com/KineGo1332" target="_blank"><img src="img/small_facebook.png"
                            alt="facebook" /></a>
                </div>
                <div class="social_1">
                    <a href="https://www.instagram.com/kinandgo/?hl=fr" target="_blank"><img
                            src="img/small_instagram.png" alt="instagram" /></a>
                </div>
            </div>
        </div>
        <div class="main_container">
            <% include header%>
            <div class="infos_container">
                <h1 class="main_title">Kinésithérapie générale</h1>
                <div class="line_separator"></div>
                <p class="intro_text">
                    Nous accueillons des patients souffrant de pathologies courantes, de pathologies aigües ainsi que de
                    pathologies chroniques.
                    Des traitements classiques de kinésithérapie sont proposés, les différentes techniques utilisées
                    sont :
                    <ul>
                        <li class="list_item">les mobilisations</li>
                        <li class="list_item">les étirements</li>
                        <li class="list_item">le massage</li>
                        <li class="list_item">la rééducation fonctionnelle</li>
                        <li class="list_item">les mobilisations</li>
                        <li class="list_item">la thérapie manuelle</li>
                        <li class="list_item">Exercise Therapy ou “Thérapie par l’exercice”</li>
                    </ul>
                </p>
            </div>
            <div class="infos_container_2">
                <div class="container_images">
                    <div class="text_image">
                        Nous disposons également d’appareils de physiothérapie utilisés dans certains cas spécifiques :
                        cryothérapie, électrostimulation, thérapie par ondes de choc.
                        Les différents traitements sont adaptés à la situation pathologique et dispensés par les 3
                        thérapeutes selon les diverses formations suivies
                        (crochetage, taping, exercise therapy, préparation physique, ventouses, dry needling,…). <br />
                        Le but est, évidemment, une récupération optimale et fonctionnelle pour chaque patient à la fin
                        de
                        leur traitement.
                        Nous proposons également de la kinésithérapie respiratoire, autant pour des enfants en bas âge
                        que
                        pour des adultes ou personnes âgées.

                    </div>
                    <div class="image">
                        <img src="img/kinege.jpg" alt="patient" />
                    </div>
                </div>
                <div class="container_images">
                    <div class="text_image">
                        L’Exercise Therapy utilise l’activité physique comme outil thérapeutique dans la prise en charge
                        de patients souffrant de maladies chroniques (cancers, diabète, obésité, lombalgies,
                        fibromyalgie, maladies neurologiques, pulmonaires, cardiaques,…).
                        Cette méthode vise également les patients qui ne souffrent d’aucune pathologie spécifique mais
                        qui souhaiteraient se remettre en forme, de façon adaptée, supervisée et sécurisée.<br/>

                        L’objectif principal de cette approche est avant tout d’améliorer la santé générale, le
                        bien-être et la qualité de vie de nos patients à travers un mode de vie actif et équilibré.

                        Les séances proposées peuvent être individuelles ou en groupe (2-3 personnes maximum) et seront
                        toujours ciblées, appropriées et personnalisées en fonction de chaque individu.

                    </div>
                    <div class="image">
                        <img src="img/k_generale.png" alt="patient" />
                    </div>
                </div>
            </div>
            <% include footer %>
        </div>
        <!-- <img src="img/et.png" class="et"> -->
    </div>
</body>

</html>