<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Kiné sportive</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/kiSportive.css'>
    <link rel="shortcut icon" type="image/png" href="img/kinangoLogo.png" />
</head>

<body>
    <div class="global_container">
        <div class="left_container">
            <div class="image_logo">
                <img src="img/biggreen.png" id="kinandgoLogo">
            </div>
            <div class="contacts">
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    Frederic Metten
                    <div class="phone">0473/41.12.15</div>
                </div>
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    Marie Tombal
                    <div class="phone">0476/97.37.63</div>
                </div>
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    Troussel Jean-Nicolas
                    <div class="phone">0472/60.16.31</div>
                </div>
            </div>
            <div class="socials_container">
                <div class="social_1">
                    <a href="https://www.facebook.com/KineGo1332" target="_blank"><img src="img/small_facebook.png"
                            alt="facebook" /></a>
                </div>
                <div class="social_1">
                    <a href="https://www.instagram.com/kinandgo/?hl=fr" target="_blank"><img
                            src="img/small_instagram.png" alt="instagram" /></a>
                </div>
            </div>
        </div>
        <div class="main_container">
            <% include header%>
            <div class="infos_container">
                <h1 class="main_title">Kinésithérapie sportive</h1>
                <div class="line_separator"></div>
                <p class="intro_text">
                    Plus spécifiquement, nous proposons des suivis aux patients sportifs. Un accompagnement depuis le
                    début de la revalidation jusqu’au retour sur le terrain.
                    Le traitement débute toujours par un bilan ; celui-ci sera réalisé dans la globalité du patient dans
                    le but de déceler la cause de ses symptômes / de sa blessure.
                    Les soins seront alors basés sur la diminution des symptômes afin de permettre la reprise du sport
                    le plus rapidement
                    possible mais aussi sur un travail de fond permettant d’éviter les récidives de blessures et écarter
                    la cause primaire de celles-ci.

                </p>
            </div>
            <div class="infos_container_2">
                <div class="container_images">
                    <div class="text_image">
                        En cas de longues pathologies, nous mettons un point d’honneur à la prise en charge du sportif
                        au sens large (revalidation mais aussi prévention du risque de rechute, accompagnement en termes
                        de préparation physique jusqu’à la reprise de l’activité sportive).<br />
                        Le déconditionnement physique étant observable environ 10 jours après l’arrêt de l’activité, un
                        travail important de remise en condition physique avant la reprise du sport est impératif et
                        cela peut prendre plusieurs mois.<br />
                        Des programmes individualisés de préparation physique sont régulièrement alors remis aux
                        patients afin que ceux-ci puissent travailler quotidiennement à la reprise du sport.
                        Une implication maximale du sportif est donc nécessaire pour le bon déroulement de sa
                        revalidation !
                    </div>
                    <div class="image">
                        <img src="img/patient2.jpg" alt="patient" />
                    </div>
                </div>
                <div class="container_images">
                    <div class="text_image">
                        Les 3 thérapeutes sont d’ailleurs formés en kinésithérapie du sport.
                        Frédéric Metten est en charge d’une équipe de football (RCS Brainois ; d3 amateurs)
                        Marie Tombal s’occupe des joueurs de l’équipe nationale de floorball.
                        Jean-Nicolas Troussel est quant à chargé du suivi de certains tennismen (BATD Odrimont T.C.)
                    </div>
                    <div class="image">
                        <img src="img/patient3.jpg" alt="patient" />
                    </div>
                </div>
            </div>
            <% include footer %>
            <img src="img/et.png" class="et">
        </div>
    </div>
</body>

</html>