<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Suivi individuel</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='css/suivi.css'>
    <link rel="shortcut icon" type="image/png" href="img/kinangoLogo.png" />
</head>

<body>
    <div class="global_container">
        <div class="left_container">
            <div class="image_logo">
                <img src="img/bigblue.png" id="kinandgoLogo">
            </div>
            <div class="contacts">
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    Frederic Metten
                    <div class="phone">0473/41.12.15</div>
                </div>
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    Marie Tombal
                    <div class="phone">0476/97.37.63</div>
                </div>
                <div class="white_card_container">
                    <img src="img/kinangoLogo.png" class="small_kinandgologo" alt="kinandgologo" />
                    Troussel Jean-Nicolas
                    <div class="phone">0472/60.16.31</div>
                </div>
            </div>
            <div class="socials_container">
                <div class="social_1">
                    <a href="https://www.facebook.com/KineGo1332" target="_blank"><img src="img/small_facebook.png"
                            alt="facebook" /></a>
                </div>
                <div class="social_1">
                    <a href="https://www.instagram.com/kinandgo/?hl=fr" target="_blank"><img
                            src="img/small_instagram.png" alt="instagram" /></a>
                </div>
            </div>
        </div>
        <div class="main_container">
            <% include header%>
            <div class="infos_container">
                <h1 class="main_title">Suivi individuel de sportifs</h1>
                <div class="line_separator"></div>
                <p class="intro_text">


                </p>
            </div>
            <div class="infos_container_2">
                <div class="container_images">
                    <div class="text_image">
                        Nous proposons un suivi régulier du sportif dans sa globalité, quel que soit le sport. Le suivi
                        débute par un bilan initial visant à isoler les forces et faiblesses du sportif. Nous
                        établissons un
                        projet commun avec différents objectifs à court, moyen et long terme.
                        De ce bilan, nous établissons un programme de préparation physique spécifique et adapté aux
                        besoins
                        du sportif (selon son activité) et aux objectifs initialement fixés en accord entre le sportif
                        et le
                        praticien.
                    </div>
                    <div class="image">
                        <img src="img/suivi1.jpg" alt="patient" />
                    </div>
                </div>
                <div class="container_images">
                    <div class="text_image">
                        Nos séances sont donc composées de préparation physique spécifiques, de prévention de blessures,
                        de
                        récupération post-effort si nécessaire et une prise en charge purement kiné en cas de blessure.
                        En plus des séances au cabinet Kin&amp;go, nous travaillons avec une équipe pluridisciplinaire
                        composée d’un médecin du sport, d’un ostéopathe, d’une podologue et d’une nutritionniste. La
                        prise
                        en charge est, de ce fait, la plus globale possible.
                    </div>
                    <div class="image">
                        <img src="img/suivi2.jpg" alt="patient" />
                    </div>
                </div>
            </div>
            <% include footer %>
            <!-- <img src="img/et.png" class="et"> -->
        </div>
    </div>
</body>

</html>